<!doctype html>
<html class="no-js" lang="">


<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>ASS</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="#">
    <!-- Normalize CSS -->
    <link rel="stylesheet" href="/admin/css/normalize.css">
    <!-- Main CSS -->
    <link rel="stylesheet" href="/admin/css/main.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/admin/css/bootstrap.min.css">
    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="/admin/css/all.min.css">
    <!-- Flaticon CSS -->
    <link rel="stylesheet" href="/admin/fonts/flaticon.css">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="/admin/css/animate.min.css">
    <!-- SummerNote CSS -->
    <link rel="stylesheet" href="/admin/css/summernote-bs4.html">
    <!-- Select 2 CSS -->
    <link rel="stylesheet" href="/admin/css/select2.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/admin/style.css">
    <!-- Modernize js -->
    <script src="/admin/js/modernizr-3.6.0.min.js"></script>
</head>

<body>
   

    <style>
   
    
        ::-webkit-scrollbar {
          width: 12px;
        }
        
        
        ::-webkit-scrollbar-track {
          box-shadow: inset 0 0 5px grey; 
          border-radius: 10px;
        }
         
        
        ::-webkit-scrollbar-thumb {
          background: rgba(0, 81, 255, 0.247); 
          border-radius: 10px;
        }
        
        
        ::-webkit-scrollbar-thumb:hover {
          background: #0054b36c; 
        }
        </style>
    
    
    <body>
        <!-- Preloader Start Here -->
        <div id="preloader"></div>
        <!-- Preloader End Here -->
    
    <div id="wrapper" class="wrapper bg-ash">

       <%- include('../partials/students_header') %>
        
        <!-- Page Area Start Here -->
        <div class="dashboard-page-one">

               <%- include('../partials/students_sidebar') %>

            <!-- Sidebar Area End Here -->
    
            <div class="dashboard-content-one">
                <!-- Breadcubs Area Start Here -->
    
    
                <!-- Sidebar Area End Here -->
    
      
                    <!-- Add Notice Area End Here -->
                    <!-- All Notice Area Start Here -->
                    <br>
                    <div class="row">
                    <% allComplian.forEach(function(allComp){ %>
                    <a href="/<%= allComp.image %>">
                    <div class="col-xl-4">
                        <div class="card message-success-box height-auto">
                            <div class="card-body">
                                <div class="heading-layout1">
                                    <div class="item-title">
                                        <br><br>
                                        <h3>...Complaint...</h3>
                                        <br><br>
                                    </div>
                                     <div class="dropdown">
                                        <a class="dropdown-toggle" href="#" role="button" 
                                        data-toggle="dropdown" aria-expanded="false">...</a>
                
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" href="#"><i class="fas fa-times text-orange-red"></i>Close</a>
                                            <a class="dropdown-item" href="#"><i class="fas fa-cogs text-dark-pastel-green"></i>Edit</a>
                                            <a class="dropdown-item" href="#"><i class="fas fa-redo-alt text-orange-peel"></i>Refresh</a>
                                        </div>
                                    </div>
                                </div>
                                   <a href="/<%= allComp.image %>">
                                <div class="message-success-r">
                                    <div class="item-content">
                                        <p><%= allComp.bio %></p>
                                        <div class="item-icon">
                                            <i class="fas fa-check"></i>
                                        </div>
                                        <h5 class="item-title">Complaint By:</h5>
                                        <h3 class="item-title"><%= allComp.complainBy %> Class <%= allComp.class %> <%= allComp.section %></h3>
                                    </div>
                                </div>
                            </a>
                            </div>
                        </div> 
                        </a>  
                    <!-- All Notice Area End Here -->
                    </div>
                </a>
                    <% }); %>
                </div>
                
            </div>
        </div>
        <!-- Page Area End Here -->
    </div>
    <!-- jquery-->
    <script src="/admin/js/jquery-3.3.1.min.js"></script>
    <!-- Plugins js -->
    <script src="/admin/js/plugins.js"></script>
    <!-- Popper js -->
    <script src="/admin/js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="/admin/js/bootstrap.min.js"></script>
    <!-- Select 2 Js -->
    <script src="/admin/js/select2.min.js"></script>
    <!-- Scroll Up Js -->
    <script src="/admin/js/jquery.scrollUp.min.js"></script>
    <!-- SummerNote Js -->
    <script src="/admin/js/summernote-bs4.min.html"></script>
    <!-- Custom Js -->
    <script src="/admin/js/main.js"></script>

</body>


</html>