<!doctype html>
<html class="no-js" lang="">


<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Student Login</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png">
    <!-- Normalize CSS -->
    <link rel="stylesheet" href="/admin/css/normalize.css">
    <!-- Main CSS -->
    <link rel="stylesheet" href="">
    <link rel="stylesheet" href="/admin/css/main.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/admin/css/bootstrap.min.css">
    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="/admin/css/all.min.css">
    <!-- Flaticon CSS -->
    <link rel="stylesheet" href="/admin/fonts/flaticon.css">
    <!-- Full Calender CSS -->
    <link rel="stylesheet" href="/admin/css/fullcalendar.min.css">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="/admin/css/animate.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/admin/style.css">
    <!-- Modernize js -->
    <script src="/admin/js/modernizr-3.6.0.min.js"></script>
</head>


<style>

    ::-webkit-scrollbar {
      width: 12px;
    }
    
    
    ::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px grey; 
      border-radius: 10px;
    }
     
    
    ::-webkit-scrollbar-thumb {
      background: rgba(0, 81, 255, 0.247); 
      border-radius: 10px;
    }
    
    
    ::-webkit-scrollbar-thumb:hover {
      background: #0054b36c; 
    }
    </style>


<body>
    <!-- Preloader Start Here -->
    <div id="preloader"></div>
    <!-- Preloader End Here -->



    <div id="wrapper" class="wrapper bg-ash">

       <!-- Header Menu Area Start Here -->
       <%- include('../partials/students_header') %>
        <!-- Header Menu Area End Here -->


        
        <!-- Page Area Start Here -->
        <div class="dashboard-page-one">

            <!-- Sidebar Area Start Here -->
            <%- include('../partials/students_sidebar') %>




            <div class="dashboard-content-one">
                <!-- Breadcubs Area Start Here -->
                <div class="breadcrumbs-area">
                    <h3>Online Application</h3>
                    <ul>
                        <li>
                            <a href="index.html">Home</a>
                        </li>
                        <li>Application For Appoval</li>
                    </ul>
                </div>
                <!-- Breadcubs Area End Here -->
                <div class="row">
                    <!-- Add Notice Area Start Here -->
                    <div class="col-xl-8">
                        <div class="card">
                            <div class="card-body">
                                <div class="heading-layout1">
                                    <div class="item-title">
                                        <p>Fill the required fields</p>
                                    </div>
                                   <div class="dropdown">
                                    
                                    </div>
                                </div>
                                <form class="new-added-form" action="/student/add/online-application" method="post" enctype="multipart/form-data">
                                    <div class="row">
                                        <div class="col-12 form-group">
                                            <label>Application For</label>
                                            <input type="text" name="appFor" placeholder="" class="form-control">
                                        </div>
                                         <div class="col-12 form-group">
                                            <label>Application Title</label>
                                            <input type="text" name="title" placeholder="" class="form-control">
                                        </div>
                                        <div class="col-12 form-group">
                                            <label>Student Name</label>
                                            <input type="text" name="stdName" value="<%= student.firstName %> <%= student.lastName %>" placeholder="" class="form-control" disabled>
                                        </div>

                                      
                                        <div class="col-12 form-group">
                                            <label>Phone No</label>
                                            <input type="text" name="contactNumber" value="<%= student.contactNumber %>" placeholder="" class="form-control">
                                        </div>
                                        <div class="col-10 form-group">
                                            <label>Application Area</label>
                                            <p style="color: red;">(Write your application Here or Upload pdf file)</p>
                                            <textarea style="height: 200px;"  name="message"  cols="75"
                                            rows="20" ></textarea>
                                        </div>
                                        <div class="col-6 form-group mg-t-8">
                                            <label>Upload File</label>
                                           <input type="file" name="image" value="Upload">
                                        </div>
                                         <div class="col-8 form-group mg-t-8">
                                            <button type="submit" class="btn-fill-lg bg-blue-dark btn-hover-yellow">Send Application</button>
                                        </div>
                                         
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                  
                
                       
                             
                    <!-- All Notice Area End Here -->
                </div>
                
            </div>
        </div>













            </div>
        </div>
        <!-- Page Area End Here -->
    </div>
    <!-- jquery-->
    <script src="/admin/js/jquery-3.3.1.min.js"></script>
    <!-- Plugins js -->
    <script src="/admin/js/plugins.js"></script>
    <!-- Popper js -->
    <script src="/admin/js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="/admin/js/bootstrap.min.js"></script>
    <!-- Counterup Js -->
    <script src="/admin/js/jquery.counterup.min.js"></script>
    <!-- Moment Js -->
    <script src="/admin/js/moment.min.js"></script>
    <!-- Waypoints Js -->
    <script src="/admin/js/jquery.waypoints.min.js"></script>
    <!-- Scroll Up Js -->
    <script src="/admin/js/jquery.scrollUp.min.js"></script>
    <!-- Full Calender Js -->
    <script src="/admin/js/fullcalendar.min.js"></script>
    <!-- Chart Js -->
    <script src="/admin/js/Chart.min.js"></script>
    <!-- Custom Js -->
    <script src="/admin/js/main.js"></script>

</body>


</html>