<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Messages</title>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="/uploads/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/css/group.css">
     <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="#">
    <!-- Normalize CSS -->
    <link rel="stylesheet" href="/admin/css/normalize.css">
    <!-- Main CSS -->
    <link rel="stylesheet" href="/admin/css/main.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/admin/css/bootstrap.min.css">
    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="/admin/css/all.min.css">
    <!-- Flaticon CSS -->
    <link rel="stylesheet" href="/admin/fonts/flaticon.css">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="/admin/css/animate.min.css">
    <!-- SummerNote CSS -->
    <link rel="stylesheet" href="/admin/css/summernote-bs4.html">
    <!-- Select 2 CSS -->
    <link rel="stylesheet" href="/admin/css/select2.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/admin/style.css">
    <!-- Modernize js -->
    <script src="/admin/js/modernizr-3.6.0.min.js"></script>


</head>

<style>
   
    
    ::-webkit-scrollbar {
      width: 12px;
    }
    
    
    ::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px grey; 
      border-radius: 10px;
    }
     
    
    ::-webkit-scrollbar-thumb {
      background: rgba(0, 81, 255, 0.247); 
      border-radius: 10px;
    }
    
    
    ::-webkit-scrollbar-thumb:hover {
      background: #0054b36c; 
    }
    </style>
<body>

  <!-- Preloader Start Here -->
    <div id="preloader"></div>
    <!-- Preloader End Here -->
    <div id="wrapper" class="wrapper bg-ash">
         <!-- Header Menu Area Start Here -->
       <%- include('../partials/students_header') %>
        <!-- Header Menu Area End Here -->
        <!-- Page Area Start Here -->
        <div class="dashboard-page-one">
            <!-- Sidebar Area Start Here -->
           <%- include('../partials/students_sidebar') %>
            <!-- Sidebar Area End Here -->
            <div class="dashboard-content-one">

    <div class="col-md-12">
        <input type="hidden" id="name-user" value="user name">
        <input type="hidden" id="name-image" value="user image">

        <div class="col-md-12">
            <div class="chat_container">
                <div class="row">
                    
                    <div class="col-sm-8 col-md-10 message_section">
                        <div class="row">
                            <div class="new_message_head">
                                <div class="pull-left">
                                <button class="club_name">
                                 Messages
                                </button>
                                </div>
                                <div class="pull-right">
                                </div>
                            </div>

                            <div class="chat_area">
                                <ul id="messages" class="list-unstyled">
                                  <% message.forEach(function(msg){ %>
                                    <li class="left">
                                       <span class="chat-img1 pull-left">
                                           <img src="/img/figure/student12.png" class="img-circle" alt="">
                                       </span>
                                       <div class="chat-body1">
                                           <span class="chat-name"><%= msg.messageBy %></span>
                                           <br>
                                           <%= msg.message %>
                                       </div>
                                    </li>
                                  <% }); %>
                                   <% message1.forEach(function(msg){ %>
                                    <li class="left">
                                       <span class="chat-img1 pull-left">
                                           <img src="/img/figure/student12.png" class="img-circle" alt="">
                                       </span>
                                       <div class="chat-body1">
                                           <span class="chat-name"><%= msg.messageBy %></span>
                                           <br>
                                           <%= msg.message %>
                                       </div>
                                    </li>
                                  <% }); %>

                                </ul>
                              
                            </div>

                          
                        </div>
                    </div>

                                  </div>

            </div>

        </div>
    </div>

  </div>
</div>
</div>

 
<script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.3.0/mustache.js"></script>
 <!-- jquery-->
    <script src="/admin/js/jquery-3.3.1.min.js"></script>
    <!-- Plugins js -->
    <script src="/admin/js/plugins.js"></script>
    <!-- Popper js -->
    <script src="/admin/js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="/admin/js/bootstrap.min.js"></script>
    <!-- Select 2 Js -->
    <script src="/admin/js/select2.min.js"></script>
    <!-- Scroll Up Js -->
    <script src="/admin/js/jquery.scrollUp.min.js"></script>
    <!-- SummerNote Js -->
    <script src="/admin/js/summernote-bs4.min.html"></script>
    <!-- Custom Js -->
    <script src="/admin/js/main.js"></script>
</body>

</html>


