<!doctype html>
<html class="no-js" lang="">


<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>ASS</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="img/sms.PNG">
    <!-- Normalize CSS -->
    <link rel="stylesheet" href="/admin/css/normalize.css">
    <!-- Main CSS -->
    <link rel="stylesheet" href="/admin/css/main.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/admin/css/bootstrap.min.css">
    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="/admin/css/all.min.css">
    <!-- Flaticon CSS -->
    <link rel="stylesheet" href="/admin/fonts/flaticon.css">
    <!-- Full Calender CSS -->
    <link rel="stylesheet" href="/admin/css/fullcalendar.min.css">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="/admin/css/animate.min.css">
    <!-- Data Table CSS -->
    <link rel="stylesheet" href="/admin/css/jquery.dataTables.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/admin/style.css">
    <!-- Modernize js -->
    <script src="/admin/js/modernizr-3.6.0.min.js"></script>
</head>

<style>

    ::-webkit-scrollbar {
      width: 12px;
    }
    
    
    ::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px grey; 
      border-radius: 10px;
    }
     
    
    ::-webkit-scrollbar-thumb {
      background: rgba(0, 81, 255, 0.247); 
      border-radius: 10px;
    }
    
    
    ::-webkit-scrollbar-thumb:hover {
      background: #0054b36c; 
    }
    </style>


<body>
    <!-- Preloader Start Here -->
    <div id="preloader"></div>
    <!-- Preloader End Here -->



    <div id="wrapper" class="wrapper bg-ash">

       <!-- Header Menu Area Start Here -->
         <!-- Header Menu Area Start Here -->
       
     <%- include('../partials/teachers_header') %>
        
               <!-- Page Area Start Here -->
                 <div class="dashboard-page-one">

               <%- include('../partials/teachers_sidebar') %>                   
            <!-- Sidebar Area End Here -->
            <div class="dashboard-content-one">
                <!-- Breadcubs Area Start Here -->
                <div class="breadcrumbs-area">
                    <h3>Home Work Publisher</h3>
                    <ul>
                        <li>
                            <a href="index.html">Home</a>
                        </li>
                        <li>Home Work Publisher</li>
                    </ul>
                </div>
                <!-- Breadcubs Area End Here -->
                <div class="row">
                    <!-- Student Info Area Start Here -->
                    <div class="col-4-xxxl col-12">
                        <div class="card dashboard-card-ten">
                            <div class="card-body">
                                <div class="heading-layout1">
                                    <div class="item-title">
                                      

                                    </div>
                                </div>
                                <div class="student-info">
                                  
                    <!-- Student Info Area End Here -->
                    <div class="col-8-xxxl col-12">
                        <div class="row">
                            <!-- Summery Area Start Here -->
                          <% homework.forEach(function(home){ %>
                            <div class="col-lg-4">
                                <div class="dashboard-summery-one">
                                    <div class="row">
                            <a href="/<%= home.image %>">
                                          
                                        <div class="col-12">
                                            <div class="item-icon bg-light-magenta">
                                                <i class="flaticon-shopping-list text-magenta"></i>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="item-content">
                                                <div class="item-title"><b>Teacher:</b><%= home.teacherName %></div>
                                                <div class="item-title"><%= home.homeworkType %></div>
                                                <div class="item-title"><b>Class:</b><%= home.Class %></div>
                                                <div class="item-number"><span class="counter" data-num="1">1</span></div>
                                                <P>Click Here For Test Pattern Downloadin</P>
                                            </div>
                                        </div>
                                         </a>
                                    </div>
                                </div>
                                                           
                            </div>
                                             <% }); %>  
                       
                                       
                            </div>
                            <!-- Summery Area End Here -->
                            <!-- Exam Result Area Start Here -->
                          
                            <!-- Exam Result Area End Here -->
                    
                   
                <!-- Footer Area Start Here -->
             
                <!-- Footer Area End Here -->
            </div>
        </div>
        <!-- Page Area End Here -->
    </div>
    <!-- jquery-->
    <script src="/admin/js/jquery-3.3.1.min.js"></script>
    <!-- Plugins js -->
    <script src="/admin/js/plugins.js"></script>
    <!-- Popper js -->
    <script src="/admin/js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="/admin/js/bootstrap.min.js"></script>
    <!-- Counterup Js -->
    <script src="/admin/js/jquery.counterup.min.js"></script>
    <!-- Moment Js -->
    <script src="/admin/js/moment.min.js"></script>
    <!-- Waypoints Js -->
    <script src="/admin/js/jquery.waypoints.min.js"></script>
    <!-- Scroll Up Js -->
    <script src="/admin/js/jquery.scrollUp.min.js"></script>
    <!-- Full Calender Js -->
    <script src="/admin/js/fullcalendar.min.js"></script>
    <!-- Chart Js -->
    <script src="/admin/js/Chart.min.js"></script>
    <!-- Data Table Js -->
    <script src="/admin/js/jquery.dataTables.min.js"></script>
    <!-- Custom Js -->
    <script src="/admin/js/main.js"></script>

</body>


</html>